<div class="max-w-2xl mx-auto px-4 py-8">
  <h2 class="flex justify-center text-sm sm:text-xl font-bold mb-8">使い方紹介</h2>

  <div class="prose">
    <ul class="list-disc ml-8">
    <p class="text-blue-500">ホーム <i class="fas fa-home"></i></p>
      <li><strong>自身のEmotion記録を入力：</strong>ユーザーはホーム画面から「記録する」を選択すると、自身の感情を顔文字から選択し、表現できます。</li>
      <li><strong>感情カテゴリー評価入力：</strong>ユーザーは感情の原因をカテゴリーから選択し、5段階で評価します。</li>
      <li><strong>メッセージを入力：</strong>ユーザーはテンプレートから選択するか、「その他」を選択すると自由に入力できます。</li>
      <li><strong>共有先への送信：</strong>ユーザーは情報を共有先にLINE送信できます。（送信先がLINEでログインする必要があります）</li>
    <p class="text-blue-500">メニュー <i class="fa-solid fa-bars"></i></p>
      <li><strong>共有するパートナーを招待機能：</strong>感情記録を共有する相手を招待することができます。共有されているパートナーのリストの表示・削除が可能です。</li>
      <li><strong>設定：</strong>ユーザー情報の編集や感情カテゴリーの編集やメッセージのテンプレートの編集・保存が可能です。</li>
      <li><strong>ログアウト：</strong>ログアウトできます。</li>
    <p class="text-blue-500">UserEmotion履歴 <i class="fa-solid fa-user-pen"></i></p>
      <li><strong>自身のEmotion記録の履歴：</strong>ユーザーが入力したEmotion記録がリスト表示されます。</li>
    <p class="text-blue-500">PartnerEmotion履歴 <i class="fa-solid fa-people-arrows"></i></p>
      <li><strong>パートナーの感情記録履歴：</strong>パートナーが入力したEmotion記録がリスト表示されます。（招待してPartner登録が必要です）</li>
    </ul>
  </div>
</div>