<div class='w-full mx-auto max-w-screen-xl'>
  <div class="bg-gradient-to-br from-sky-100 to-blue-500 min-h-screen flex flex-col justify-center items-center">
    <div class="flex sm:flex-col items-center sm:items-center justify-center">
      <div class="text-center sm:mb-8">
        <div class="font-medium text-black text-2xl mb-8 font-yomogi">
          今日もあなたにとって<br/>良い1日でありますように
        </div>
        <div class="flex items-center sm:items-center justify-center">
          <%= link_to new_emotion_path, class: "text-center w-2/3 bg-gray-300 p-4 rounded px-4 py-2 text-2xl text-white font-bold hover:underline py-4 px-8 mt-8 font-yomogi" do %>
            記録する
            <i class="fa-regular fa-paper-plane"></i>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
