<div class="bg-gradient-to-r from-blue-400 to-purple-500 min-h-screen flex flex-col justify-center items-center">
  <!-- 概要 -->
  <header class="text-white text-center py-8">
    <h1 class="text-2xl md:text-4xl font-semibold mb-4">感情を共有してパートナーとの絆を深めよう</h1>
    <p class="text-sm md:text-lg">EmoBridgeは、夫婦やカップルがお互いの感情を理解し、円満なコミュニケーションを図るためのサービスです。</p>
    <%= image_tag 'image.webp' , class: "w-full h-full py-4"%>
  </header>

  <!-- 操作方法 -->
  <section class="text-white text-center py-8">
    <h2 class="text-lg md:text-2xl font-semibold mb-4">操作方法</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <!-- 画像と説明 -->
      <div>
        <img src="#" alt="感情アイコン" class="w-12 h-12 md:w-16 md:h-16 mx-auto mb-2">
        <p class="text-xs md:text-sm">自身の感情を顔文字で表現</p>
      </div>
      <div>
        <img src="#" alt="カテゴリーアイコン" class="w-12 h-12 md:w-16 md:h-16 mx-auto mb-2">
        <p class="text-xs md:text-sm">感情の原因をカテゴリー化して評価</p>
      </div>
      <div>
        <img src="#" alt="共有アイコン" class="w-12 h-12 md:w-16 md:h-16 mx-auto mb-2">
        <p class="text-xs md:text-sm">伝えたいことをテンプレートから選択または自由に入力</p>
      </div>
    </div>
    <div class="flex justify-center py-8"> 
      <%= link_to '今すぐ始める', new_user_path, class: 'btn bg-white text-blue-500 rounded px-4 py-2 text-sm hover:bg-blue-200' %>
    </div>
  </section>
</div>
