<footer class="bg-gray-100 flex flex-col justify-center items-center text-white text-center fixed bottom-0 left-0 w-full">
  <div class="w-full text-center">
    <div class="flex justify-between text-blue-600 mt-4">
      <div class="inline-flex justify-center m-auto">
        <%= link_to '利用規約', '#', class: 'text-xs md:text-sm font-bold hover:underline' %>
      </div>
      <div class="inline-flex justify-center m-auto">
        <%= link_to 'プライバシーポリシー', '#', class: 'text-xs md:text-sm font-bold hover:underline' %>
      </div>
      <div class="inline-flex justify-center m-auto">
        <%= link_to 'お問い合わせ', '#', class: 'text-xs md:text-sm font-bold hover:underline' %>
      </div>
    </div>
  </div>
  <div class="py-4 w-full text-center mb-2 m-auto">
    <ul class="px-1 inline-flex justify-center m-auto">
      <span class="text-sm text-gray-600 sm:text-center dark:text-gray-400">&copy; 2024 EmoBridge. All rights reserved.</span>
    </ul>
  </div>
</footer>
