<% flash.each do |message_type, message| %>
  <div hidden>
    <div role="alert" class="alert alert-info">
    </div>
    <div role="alert" class="alert alert-success">
    </div>
    <div role="alert" class="alert alert-warning">
    </div>
    <div role="alert" class="alert alert-error">
    </div>
  </div>
  <style>
  .alert {
    border-radius: 0; /* 角を丸めない */
  }
  </style>
  <div role="alert" class="alert alert-<%= message_type %> ">
    <%= message %>
  </div>
<% end %>
