<footer class="bg-white text-gray-600 fixed bottom-0 left-0 w-full p-4 z-10">
  <div class="container mx-auto text-center">
    <div class="grid grid-flow-col justify-stretch space-x-4">
      <%= link_to tops_home_path, class: "text-blue-500 hover:underline" do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to emotions_path, class: "text-blue-500 hover:underline" do %>
        <i class="fa-solid fa-user-pen"></i>
      <% end %>
      <%= link_to partner_index_emotions_path, class: "text-blue-500 hover:underline" do %>
        <i class="fa-solid fa-people-arrows"></i>
      <% end %>
    </div>
  </div>
</footer>

