<footer class="bg-white text-gray-600 fixed bottom-0 left-0 w-full p-4 z-10">
  <div class="container mx-auto text-center">
    <div class="grid grid-flow-col justify-stretch space-x-4">
      <!-- Home Icon -->
      <%= link_to tops_home_path, class: "text-blue-500 hover:underline" do %>
        <i class="fas fa-home"></i>
      <% end %>
      <!-- My Page Icon -->
      <a href="/my_page" class="text-blue-500 hover:underline">
      <i class="fa-solid fa-user-pen"></i>
      </a>
      <!-- Partner Icon -->
      <a href="/partner" class="text-blue-500 hover:underline">
        <i class="fa-solid fa-people-arrows"></i>
      </a>
    </div>
  </div>
</footer>

